<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BluetoothGameSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E55CA171C1EB42000BCCF06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E55CA2B1C1EB42000BCCF06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E55CA361C1EB42000BCCF06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
